<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Accès refusé</title>
  <link rel="stylesheet" href="/general.css">
  <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-2xl lg:max-w-md mx-auto mt-20 text-center">
    <h1 class="text-4xl lg:text-2xl font-bold mb-4">Accès refusé</h1>
    <p class="text-gray-700 text-2xl lg:text-base mt-2"><%= message %></p>
    <a href="/" class="mt-6 lg:mt-4 inline-block text-orange-400 hover:underline text-2xl lg:text-base">Retour à l'accueil</a><br>
    <a href="https://www.revculture.ci" class="mt-2 inline-block text-red-800 hover:underline text-2xl lg:text-base">Visitez notre site internet</a>
  </div>
</body>
</html>
