<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Merci</title>
  <link rel="stylesheet" href="/general.css">
  <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-2xl lg:max-w-md mx-auto mt-20 text-center">
    <h1 class="text-4xl lg:text-2xl font-bold mb-8 lg:mb-4">La famille Revival Culture Abidjan vous dit Merci !</h1>
    <div class="flex items-center justify-center mb-6 lg:mb-4"><img src="/img/rc-black-logo.png" alt="Logo Revival Culture Abidjan" width=75px height=292px></div>
    <p class="text-2xl lg:text-base text-gray-700">Nous prierons pour vous.</p>
    <a href="/" class="mt-6 lg:mt-4 inline-block text-orange-400 hover:underline text-2xl lg:text-base">Retour à l'accueil</a><br>
    <a href="https://www.revculture.ci" class="mt-2 inline-block text-red-800 hover:underline text-2xl lg:text-base">Visitez notre site internet</a>
  </div>
</body>
</html>
